/* reseting all the styles */
/* Working Code */
* {
  padding: 0;
  margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
  height: 100%;

}

h1{
  margin: 0;
}

h3{
  margin: 0;
}

h2{
  margin: 0;
}

/* Content  */

header{
  height: 120px;
  background: #29353b;
}

.logo-img{
  float: left;
  padding: 17px 5px;
}

/* Jumbotron  */
.jumbo{
  background-image: url("woodyback.jpg");
  margin-bottom: 0px !important;
  text-align: center;
}

#aboutHeader{
  font-family: longtime;
  font-size: 380%;
  font-weight: bold;
}

#aboutSlogan{
  font-family: palantin;
  font-size: 200%;
}

/* For  About Content  */
.aboutContent{
  width: 100%;
  height: auto;
  text-align: center;
}

.profileContainer{
  width: 80%;
  margin: 10px auto;
  line-height: 1.7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 25px;
}

.profileContainer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.boldText{
  font-weight: bold;
}

#profileHeader{
  font-size: 6vh;
  font-family: longtime
}

.profileContainer p{
  font-size: 18px;
  padding: 15px 0px;
}

.profileWhy{
  width: 80%;
  margin: 20px auto;
  line-height: 1.7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 25px;
}

.profileWhy:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

#whyUsList{
  list-style-type: none;
}

#whyUsList li{
  padding: 5px;
  margin: 10px 0px;
  border-radius: 10px;
  font-weight: bold;
  font-family: juice;
  border: 1px solid #ccc;
}

#whyUsList li:hover{
  background: #aaa;
}

.profileInfra{
  width: 80%;
  margin: 20px auto;
  line-height: 1.7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 25px;
}

.profileInfra:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* For the dev's signature */

.devsFooter{
  width: 100%;
  height: auto;
}

#created{
    font-weight: bold;
    color: #ccc;
    margin: 0 !important;
    padding: 10px 0px;
    font-size: 90%;
}

#myName{
    color: orange;
}

#myName:hover{
  color: #00c7ff;
}

.devName{
  text-align: center;
  background: #29353b;
}

.copyrights{
  text-align: center;
  background: #29353b;
  color: #ccc;
}

#rights{
  font-size: 90%;
  margin: 0 !important;
  padding: 10px 0px;
}

/* Different fonts */

@font-face {
  font-family: juice;
  src: url("JUICERegular.ttf");
}


@font-face {
  font-family: palantin;
  src: url("palanquindark-semibold.ttf");
}

@font-face {
  font-family: flatley;
  src: url("Flatley.ttf");
}

@font-face {
  font-family: longtime;
  src: url("LongTime.ttf");
}
