* {
  padding: 0;
  margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
}

html{
  height: 100%;

}

h1{
  margin: 0;
}

h3{
  margin: 0;
}

h2{
  margin: 0;
}

/* for logo div */
header{
  height: 120px;
  background: #29353b;
}

.col-sm-6 {
  padding: 0px !important;
}
.logo-img{
  float: left;
  padding: 17px 5px;
}

/* for the heading div */

.firstjumbo{
  background-image: url("woodyback.jpg");
  margin-bottom: 0px !important;
}

#jumboHeader{
  font-size: 500%;
  font-family: longtime;
  padding: 12px 45px;
}

#slogan{
  font-family: palantin;
  font-size: 260%;
  padding: 12px 60px;
}

/* For the dev's signature */

.devsFooter{
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
}

#created{
    font-weight: bold;
    color: #ccc;
    margin: 0 !important;
    padding: 10px 0px;
    font-size: 90%;
    /*nothing*/
}

#myName{
    color: orange;
}

#myName:hover{
  color: #00c7ff;
}

.devName{
  text-align: center;
  background: #29353b;
}

.copyrights{
  text-align: center;
  background: #29353b;
  color: #ccc;
}

#rights{
  font-size: 90%;
  margin: 0 !important;
  padding: 10px 0px;
}
