* {
  padding: 0;
  margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
}

html{
  height: 100%;

}

h1{
  margin: 0;
}

h3{
  margin: 0;
}

h2{
  margin: 0;
}

/* for logo div */
header{
  height: 120px;
  background: #29353b;
}

.col-sm-6 {
  padding: 0px !important;
}
.logo-img{
  float: left;
  padding: 17px 5px;
}

/* for the heading div */

.firstjumbo{
  background-image: url("woodyback.jpg");
  margin-bottom: 0px !important;
}

#jumboHeader{
  font-size: 500%;
  font-family: longtime;
  padding: 12px 45px;
}

#slogan{
  font-family: palantin;
  font-size: 260%;
  padding: 12px 60px;
}

/* for the list div */
.list{
  width: 100%;
  height: auto;
  text-align: center;
}

.listContainer{
  width: 75%;
  margin: 0 auto;
}

#benefitsList{
  list-style-type: none;
}

#benefitHeader{
  font-size: 24px;
  font-weight: bold;
  margin: 0!important;
  padding: 20px 0px;
  font-family: palantin;
}

.benefit{
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.benefit:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* For the dev's signature */

.devsFooter{
  width: 100%;
  height: auto;
}

#created{
    font-weight: bold;
    color: #ccc;
    margin: 0 !important;
    padding: 10px 0px;
    font-size: 90%;
    /*nothing*/
}

#myName{
    color: orange;
}

#myName:hover{
  color: #00c7ff;
}

.devName{
  text-align: center;
  background: #29353b;
}

.copyrights{
  text-align: center;
  background: #29353b;
  color: #ccc;
}

#rights{
  font-size: 90%;
  margin: 0 !important;
  padding: 10px 0px;
}

/* Different fonts */

@font-face {
  font-family: juice;
  src: url("JUICERegular.ttf");
}


@font-face {
  font-family: palantin;
  src: url("palanquindark-semibold.ttf");
}

@font-face {
  font-family: flatley;
  src: url("Flatley.ttf");
}

@font-face {
  font-family: longtime;
  src: url("LongTime.ttf");
}
